NODE_ENV=development
PORT=5000
FRONTEND_URL=http://localhost:5173
DATABASE_URL=postgresql://reachinbox:reachinbox_dev_password@localhost:5432/reachinbox
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
GOOGLE_CLIENT_ID=716195069541-iarvtpq1vlf4bje6s32ubdnf7uu8f448.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_CALLBACK_URL=http://localhost:5000/api/auth/google/callback
# GOOGLE_CALLBACK_URL=https://reachinbox-hiring-assignment-outbox-labs.onrender.com/api/auth/google/callback
JWT_SECRET=wUxMpBUqZF3PyXb6gfeMC1iajmJDQv9FblffYKq7zKM=
SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_USER=jayne.schinner@ethereal.email
SMTP_PASSWORD=ykTKPquPNC4bzeKPYU
SMTP_FROM=jayne.schinner@ethereal.email
WORKER_CONCURRENCY=5
MAX_EMAIL_ATTEMPTS=3
PROCESSING_TIMEOUT_MS=300000
MIN_DELAY_BETWEEN_EMAILS_MS=2000
MAX_EMAILS_PER_HOUR=200
COOKIE_SECRET=55Tp/vMH7lAeZuaovA54CtwX/MBomdCdlOa7amgpsPc=
UPLOAD_MAX_SIZE_MB=5
